<!DOCTYPE html>
<html>
<head>
    <title>Лимбажские гравюры</title>

    <link rel="stylesheet" href="../../style.css">
</head>
<body>
    <div class="background">
        <img class="background-image" alt="background image" src="../../picture/background.jpg">
    </div>

    <div class="banner">
        <div class="navbar">
            <img src="../../picture/logo.png" alt="main logo">
            
            <nav>
                <span><a href="index_ru.html"><b>НАЧАЛО</b></a></span>
                <span><a href="pakalpojumi.html"><b>СЕРВИСЫ</b></a></span>
                <span><a href="kontakti.html"><b>КОНТАКТЫ</b></a></span>
            </nav>
            
            <div id="language-menu">
                <span>Выбор языка</span>

                <div id="language-dropdown">
                    <div class="language">
                        <img src="../../picture/latvija.png" alt="LV flag">
                        <span><a href="../../index.html">Latvian</a></span>
                    </div>
                    <div class="language">
                        <img src="../../picture/british.png" alt="UK flag">
                        <span><a href="../../view/en/index_en.html">English</a></span>
                    </div>
                    <div class="language">
                        <img src="../../picture/russian.jpg" alt="RU flag">
                        <span><a href="../../view/ru/index_ru.html">Russian</a></span>
                    </div>
                </div>
            </div>
        </div>
            
            
                

        

        <div class="content">
            <h1 class="title-main">ЛИМБАЖСКАЯ ПЕЧАТЬ</h1>
        </div>
    </div>
</body>
</html>