<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PAKALPOJUMI</title>

    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <div class="background">
        <img class="background-image" alt="background image" src="../picture/background.jpg">
    </div>

    <div class="banner">
        <div class="navbar">
            <img src="../picture/logo.png" alt="main logo">
            
            <nav>
                <span><a href="../index.html"><b>SĀKUMS</b></a></span>
                <span><a href="../view/t-krekli.htm"><b>T-KREKLI</b></a></span>
                <span><a href="../view/auto.htm"><b>AUTO</b></a></span>
            </nav>

            <div id="language-menu">
                <span>Language</span>

                <div id="language-dropdown">
                    <div class="language">
                        <img src="../picture/latvija.png" alt="LV flag">
                        <span>Latvian</span>
                    </div>
                    <div class="language">
                        <img src="../picture/british.png" alt="UK flag">
                        <span>English</span>
                    </div>
                    <div class="language">
                        <img src="../picture/russian.jpg" alt="RU flag">
                        <span>Russian</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="content">
            <h1 class="title-main">PAKALPOJUMI</h1>
        </div>
    </div>
</body>
</html>